/*
 * Basic 
 */
 

html{
	margin:0;
	padding:0;
	color:#232323;
	background:#fff;
}

.wrapper{
	margin:auto;
	background:#99c;
}

@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

.tableed{
	display:table;
	width:100%;
	height:inherit
}

.tableed .celled{
	width:100%;
	height:inherit;
	display:table-cell;
	vertical-align:middle;
	text-align:center;
	position:relative
}

/*
 * Login Section
 */
 
.head_title{
	font-weight:700;
	font-family:"Myriad Pro";
}

.login_content{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
/*
 * Navigation Bar Section
 */

.sidebar_nav_bar{
	width:300px;
	height:100%;
	position:fixed;
	display:inline-block;
	border-right: 1px solid #d0d0d0;
	background-color:#f2f2f2;
	font-family:"Myriad Pro";
}

.sidebar_nav_bar > ul{
	list-style-type: none;
	padding: 0px;
}

.sidebar_nav_bar > ul > li{
	width:100%;
	color:#fff;
	
}

.sidebar_nav_bar > ul > li a{
	line-height:40px;
	height:80px;
	width:100%;
	display:block;
	border-bottom: 1px solid #d0d0d0;
	text-indent: 15px;
	color:  #676767;
	text-decoration: none;	
	padding: 20px 30px 30px 30px;
	-webkit-transition: 0.2s;
	font-size:14px;
}

.sidebar_nav_bar > ul > li a:hover{
	color:#fff;
	background-color:#03a9f4;
	-webkit-transition: 0.2s;
}


.sidebar_nav_bar > ul > li a:active{
	color:#fff;
	background-color:#03a9f4;
	-webkit-transition: 0.2s;
}

.sidebar_brand{
	background-color:#232323;
	color:#fff !important;
	font-size:16px !important;
	font-weight:600;
	
}
/*
 * Main Content Section
 */
 
.main_content_wrapper{
	float:right;
	width:75%;
	height:auto;
	position:relative;
	display:inline-block;
	color:#232323;
	font-family:"Myriad Pro";
	margin-left : auto;
	margin-right : auto;
}
	.page_title{
		font-weight:700;
		font-size:24px;
		margin:25px 0 25px 0;
		display:block;
	}
	
	.page_content_left{
		width:45%;
		float:left;
		display:inline-block;
		posiion:relative;
		margin-right:15px;
	}
	
	.page_content_right{
		width:45%;
		float:right;
		display:inline-block;
		posiion:relative;
		margin-right:15px;
	}	

	.page_content{
		color:#4b4b4b;
		width:900px;
	}
		.page_content .content_head{
			font-size:16px;
		}
		
		.page_content .content_head{
			margin-top:40px;
			margin-bottom:15px;
		}
		
		.content_dropDown{
			width:300px;
			height:35px;
			border-radius:3px;
			padding-left:5px;
		}
		
		.content_button{
			margin-top:15px;
			display:block;
		}
		
		.content_text_field{
			width:300px;
			height:35px;
			border-radius:3px;
			padding-left:10px;
			border:1px solid #A9A9A9;
			margin-bottom:10px;
		}
	
	.page_content_solo{
		display:block;
		width:100%;
		height:auto;
		position:relative;
		float:left;
	}
	
	.page_content_under{
		padding-top:25px;
		display:block;
		width:100%;
		height:auto;
		position:relative;
		float:left;
	}	
	
	.page_table>li:nth-child(1) {
		font-weight:700;
	}
	
	.page_table>li:nth-child(even) {
		background-color:#fff;
		list-style:none;
	}
	
	
	.page_table>li:nth-child(odd) {
		background-color:#ebebeb;
		list-style:none;
	}

	.page_table{
		border:1px solid #676767;
	}
	
	.page_content_under > ul{
		padding-left:0px;
	}
	
	.page_table > li > div{
		display:inline;
		margin-right:110px;
		height:auto;
		line-height:50px;
		margin-left:35px;
	}
	
	.page_table>li>div:nth-child(3) {
		margin-left:220px;
		margin-right:50px;
	}